# Ignore build output directories
bin/
obj/
Debug/
Release/

# Ignore dependency directories (e.g., node_modules)
node_modules/
packages/
bower_components/
dist/

# Ignore temporary files
*.suo
*.user
*.userosscache
*.sln.docstates
*.log
Thumbs.db
*.sqlite

# Ignore local environment files
.env
*.env

# Ignore publish artifacts
.publish/
.Dockerfile
docker-compose.override.yml

# Ignore other IDE-specific folders
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper

# Ignore static files but allow the Bootstrap files
!lib/bootstrap/
