@model ecom.Models.ViewModel.DashboardVM


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div class="row mt-3">
    <div class="col-md-8">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-danger btnClearCart">
                <i class="fas fa-trash"></i> Clear Cart
            </button>
            <button type="button" class="btn btn-success btnCheckoutCart" data-bs-toggle="modal" data-bs-target="#btnCheckoutCart">
                <i class="fas fa-credit-card"></i> Proceed to Checkout
            </button>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="body-item">
                    </tbody>
                </table>
                <div class="row justify-content-end mt-4">
                    <div class="row justify-content-end mt-4">
                        <div class="col-6 col-md-5">
                            <div class="d-flex justify-content-between align-items-center p-3 bg-light rounded shadow-sm">
                                <span class="h5 mb-0">Grand Total:</span>
                                <span class="h4 mb-0 text-success tdGrandTotal"></span>
                            </div>
                        </div>
                    </div>


            </div>
        </div>
    </div>
</div>


<!--Checkout Payment Modal-->
<div class="modal fade" id="btnCheckoutCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-3">
                        Fullname
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control txtCartFullname" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-3">
                        Mobile No
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control txtCartMobileNo" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-3">
                        Email
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control txtCartEmail" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-3">
                        Address
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control txtCartAddress" />
                    </div>



                </div>

                <div class="modal-footer">
                   <!--<button type="button" class="btn btn-success txtKhalti">Pay With Khalti</button>--> 
                    <button type="button" class="btn btn-primary txtCartSubmit">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>


@section Scripts{
    <script>
        

        $(document).on('click', '.txtKhalti', function () {
            var ok = confirm('Are you sure to pay via Khalti?')
            if (ok) {
                payload = {
                    Amount: +$('.tdGrandTotal').html(),
                    RedirectUrl: 'http://localhost:5136'
                };

                $.ajax({
                    method: 'post',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("KhaltiPaymentInitiate", "OnlinePayment")',
                    data: JSON.stringify(payload),
                    success: function (rsp) {
                        if (rsp.success) {
                            var khalti = JSON.parse(rsp.data);

                            window.location.href = khalti.payment_url;
                        } else {
                            alert(rsp.message)
                        }
                    },
                    error: function (er) {

                    },
                })
            }
        }
    </script>
}