<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div class="row mt-3">
    <div class="col-md-8">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-danger btnClearCart">
                <i class="fas fa-trash"></i> Clear Cart
            </button>
            <button type="button" class="btn btn-success btnCheckoutCart">
                <i class="fas fa-credit-card"></i> Proceed to Checkout
            </button>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="body-item">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

