@model IEnumerable<ecom.Dto.ProductItemDtos.ProductItemDto>


<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <td>SN</td>
                            <td>Product Name</td>
                            <td>Product Code</td>
                            <td>Category</td>
                            <td>Description</td>
                            <td>Unit Price</td>
                            <td>Thumbnail</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- No foreach here, data will be loaded using JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div>
                        <label for="ProductName" class="row-2">Product Name</label>
                        <input type="text" class="form-control txtName" id="ProductName" placeholder="Enter Product Name">
                    </div>
                    <div>
                        <label for="ProductCode" class="row-2">Product Code</label>
                        <input type="text" class="form-control txtCode" id="ProductCode" placeholder="Enter Product Code">
                    </div>
                    <div><!--

                        <input type="text" class="form-control txtCategory" id="CategoryInput" placeholder="Enter Category ID" list="categoryList">
                        <datalist id="categoryList"></datalist>
                    -->
                        <label for="CategoryId" class="row-2">Category</label>
                        <input type="hidden" class="hiddenCategoryId" id="CategoryId" />
                        <select class="form-control text-muted" id="CategorySelect">
                            <option value="" disabled selected>Select Category</option> <!-- Default option -->
                        </select>
                    </div>
                    <div>
                        <label for="Description" class="row-2">Description</label>
                        <textarea class="form-control txtDescription" id="Description" placeholder="Enter Product Description"></textarea>
                    </div>
                    <div>
                        <label for="UnitPrice" class="row-2">Unit Price</label>
                        <input type="number" class="form-control txtPrice" id="UnitPrice" placeholder="Enter Unit Price">
                    </div>
                    <div>
                        <label for="Thumbnail" class="row-2">Thumbnail URL</label>
                        <input type="text" class="form-control txtThumbnail" id="Thumbnail" placeholder="Enter Image URL">
                    </div>
                    <div class="row-2 mt-2">
                        <input type="hidden" class="hdnId" />
                        <button type="submit" class="btn btn-success btnSave">Save</button>
                        <button type="button" class="btn btn-danger btnCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
<script src="~/js/productItem.js"></script>
};


